body {
    background-color: #ffffff;
    margin:0;
    background-image: url(../images/image.png);
background-repeat: no-repeat;
background-size: cover;
height: auto;
padding-bottom: 60px;
  }

  .nav-logo {
    position: absolute;
    width: 174px;
    height: 38.82px;
    left: 150.49px;
    top: 73.44px;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    
}


.pink {
  color: white;
  background: #ec268f;
  width: 150px;
  height: 38.82px;
  top: 25px;
  border-radius:1px;
}

.header-content{
    padding-top: 200px;
    color: white;
    text-align: center;
}

.text-black{
  color: black;
}


.prologo{
  display: inline-block;
    height: 44px;
    margin-right: 11px;
}

.header-content2{
  padding-top: 150px;
  color: #ffffff;
  text-align: left;
  font-size: 50px;
  text-align: center;
  margin-right: 450px;
}

.theform {
  margin-top: 100px;
}

.form-group {
  margin-bottom: 1rem;
  color: #ffffff;
 
}


.button {
  color: red;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.cancelbtn {
  background-color: #f44336;
  float: right;
  width: 50%;
}

.signupbtn {
  background-color: green;
  float: right;
  width: 50%;
}

.container {
  padding: 16px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
